{
    "db": {
        "psql": {
            "host": "localhost",
            "port": 5432,
            "username": "webtv",
            "password": "P@ssword1",
            "database": "pywebtv"
        },
        "redis": {
            "host": "localhost",
            "port": 6379,
            "db": 0
        }
    }
}